/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Rische';
    src: url('/src/assets/fonts/Rische-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  